.header-grid {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  align-items: center;
  background-color: var(--clr-darkbrown);
  color: var(--clr-orange);
  margin-top: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  text-align: start;
}
