.poster {
  display: flex;
  overflow-x: auto;
  gap: 16px;
}

.poster > div {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
