.poster {
  display: flex;
  overflow-x: auto; /* For horizontal scrolling */
  gap: 16px; /* You can adjust this gap as you like */
}

/* Stylize each movie item */
.poster > div {
  flex: none; /* Prevent items from growing or shrinking */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

/* Style for the rows in Home component */
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
